{% extends 'test3_mytona/index.html' %}
{% load static %}
{% block content %}
<br><br><br>

<br><br>
    <h2>{{ msg_error }}</h2>
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
    <!-- Login Form s-->
    <form method="post">
         {% csrf_token %}
        <div class="login-form">
            <h4 class="login-title">Авторизация</h4>
            <div class="row">
                <div class="col-md-12 col-12 space__bottom--20">
                    <label>Логин</label>
                    {{ form.username }}
                </div>
                <div class="col-12 space__bottom--20">
                    <label>Пароль</label>
                    {{ form.password }}
                </div>
                <div class="col-md-12">
                    <button class="default-btn mt-0">Войти</button>
                </div>
            </div>
        </div>
    </form>
    </div>

{% endblock content %}
